<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리스트</title>

    <link rel="stylesheet" type="text/css" href="/css/board.css">

    <style>
        .write-button {
            position: absolute;
            top: 10px;
            right: 10px;

        }

        .success-message {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

        .write-button button {
            padding: 10px 20px; /* 버튼의 크기를 더 키웁니다. */
            font-size: 11px; /* 버튼 텍스트의 크기를 조절합니다. */

        }
    </style>
</head>
<body>

<script th:inline="javascript">
    /* JavaScript 코드 */
    /* 알림 메시지를 alter 창으로 표시 */
       var errorMessage = /*[[${error}]]*/ '';

    if (success) {
        alert(success);
    }



</script>

<div th:if="${success}" class="success-message">
    <p th:text="${success}"></p>
</div>




<div class="write-button">
    <form th:action="@{/posts/write}" method="get">
        <button type="submit">글 작성</button>
    </form>
</div>

<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>조회수</th>
        <th>작성일</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="post: ${posts}">
        <td th:text="${post.id}">James</td>
        <td>
            <a th:href="@{/posts/list/{param1}(param1=${post.id})}">
                <span th:text="${post.title}">Matman</span>
            </a>
        </td>
        <td th:text="${post.member.name}">(713) 123-8965</td>
        <td th:text="${post.view}">jmatman@stewart.com</a></td>
        <td th:text="${post.createDate}">01/13/1979</td>
    </tr>

    </tbody>
</table>

</body>
</html>