<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리스트</title>

    <link rel="stylesheet" type="text/css" href="/css/board.css">


</head>
<body>

<script th:inline="javascript">
    /* 알림 메시지를 alert 창으로 표시 */
    var successMessage = /*[[${success}]]*/ '';

    if (Boolean(successMessage)) {
        alert(successMessage);
    }
</script>



<div class="write-button">
    <form th:action="@{/posts/write}" method="get">
        <button type="submit">글 작성</button>
    </form>
</div>

<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>조회수</th>
        <th>작성일</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="post, postIndex : ${posts}">
        <td th:text="${postIndex.index + 1}">1</td>
        <td>
            <a th:href="@{/posts/list/{param1}(param1=${post.id})}">
                <span th:text="${post.title}">Matman</span>
            </a>
        </td>
        <td th:text="${post.member.name}">(713) 123-8965</td>
        <td th:text="${post.view}">jmatman@stewart.com</a></td>
        <td th:text="${post.createDate}">01/13/1979</td>
    </tr>
    </tbody>
</table>

</body>
</html>