<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>홈</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<h1>Welcome to Our Website!</h1>

<p>To continue, please sign in or sign up.</p>

<div>
    <a href="/members/login">로그인</a>
    <a href="/members/new">회원가입</a>
    <form th:action="@{/members/logout}" method="post">
        <button class="w-100 btn btn-dark btn-lg" type="submit">
            로그아웃
        </button>
    </form>

    <a th:href="@{/members/update}">회원수정</a>
</div>

</body>
</html>
